@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .will-change-transform {
    will-change: transform;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  scroll-behavior: smooth;
}

:root {
  --max-width: 1280px;
}

body:has(nav #nav-menu-toggle:checked) {
  overflow: hidden;
}

.fadeInUp {
  animation: fade-in-up 1.5s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1 !important;
    transform: translateY(0);
  }
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-primary font-semibold leading-tight text-dark;
}

.prose h2 {
  margin-top: 3rem;
}

.prose h3 {
  margin-top: 2.4rem;
}

@media (min-width: 320px) {
  .animation-container {
    /* 4 x card height - 3 x negative margin top */
    height: calc((4 * 710px) - (3 * 50));
  }

  .animation-card {
    position: sticky;
    width: 100%;
    max-height: 710px;
    margin-top: -50px;
  }

  .animation-card:nth-child(1) {
    top: 0;
    margin-top: 0;
  }

  .animation-card:nth-child(2) {
    top: 80px;
  }

  .animation-card:nth-child(3) {
    top: 160px;
  }

  .animation-card:nth-child(4) {
    top: 220px;
  }
}
