---
import Base from "../layouts/base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const slugs = posts.map((post) => post.slug);
---

<Base>
  {slugs.map((slug) => (
    <a
      class="text-blue-500 hover:text-white bg-blue-100 hover:bg-blue-500 border border-blue-500 rounded-md px-4 py-2 transition duration-300"
      href={`/blog/${slug}`}
    >
      {slug}
    </a>
  ))}
</Base>
