---
import Post from "../layouts/post.astro";
import { getCollection } from "astro:content";

const authorCollection = await getCollection("authors");

const title = "Hello World";
const image = "";
const date = 0;
const authorIds = ["david"];

const authors = authorCollection.filter((author) =>
  authorIds.includes(author.slug),
);
---

<Post title={title} image={image} date={date} author={authors[0]}>
  <p>
    Unlock the full potential of <strong>React</strong> with custom hooks! In this
    blog post, we'll go through some exercises that can help you level up your react
    skills by writing custom hooks in <strong>TypeScript</strong>. From state
    management to performance optimization, you'll learn how to create reusable
    logic for your React components and make your code more efficient and
    scalable. Every exercise has a brief description of the problem, starting
    code and relevant links. Try to solve the problems without taking a peek at
    the solution.
  </p>
</Post>
