---
import BookACallForm from "../components/BookACallForm.astro";
import Clients from "../components/Clients.astro";
import Hero from "../components/contact/Hero.astro";
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";
import Base from "../layouts/base.astro";
import "../styles/main.css";

const { ogImage = "https://www.crocoder.dev/contact-us-metadata-img.png" } =
  Astro.props;
---

<Base className="bg-white" ogImage={ogImage}>
  <Navigation />
  <Hero />
  <Clients />
  <BookACallForm deferLoad className="!mt-[100px] md:!mt-[210px]">
    <span slot="title">
      Everything <span class="text-crocoder-yellow"> Kicks Off </span>
      with One Call
    </span>
  </BookACallForm>

  <Footer />
</Base>
