---
import { Fragment } from "astro/jsx-runtime";
import BookACallForm from "../components/BookACallForm.astro";
import Hero from "../components/cto/Hero.astro";
import Services from "../components/cto/Services.astro";
import Testimonial from "../components/cto/Testimonial.astro";
import Values from "../components/cto/Values.astro";
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";
import Base from "../layouts/base.astro";
import "../styles/main.css";

const { ogImage = "https://crocoder-company-website.vercel.app/cto-metadata-img.png" } = Astro.props;

---

<Base className="bg-white" ogImage={ogImage}>
  <Navigation />
  <Hero />
  <Values />
  <Services />
  <Testimonial />
  <BookACallForm>
    <span slot="title">
      Everything <span class="text-crocoder-yellow"> Kicks-off </span>
      with One Call
    </span>
  </BookACallForm>
  <Footer />
</Base>
