---
import "../styles/main.css";
import Services from "./components/services/index.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crocodile Emoji</title>
  </head>
  <body class="flex items-center justify-center bg-gray-100">
      <Services />
  </body>
</html>
