---
import BookACallForm from "../components/BookACallForm.astro";
import Testimonial from "../components/cto/Testimonial.astro";
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";
import Section from "../components/Section.astro";
import GetYourPlan from "../components/staff-agmentation/GetYourPlan.astro";
import Hero from "../components/staff-agmentation/Hero.astro";
import MainContent from "../components/staff-agmentation/MainContent.astro";
import OurEngineers from "../components/staff-agmentation/OurEngineers.astro";
import Specialization from "../components/staff-agmentation/Specialization.astro";
import ThankYouCard from "../components/staff-agmentation/ThankYouCard.astro";
import TrustedBy from "../components/TrustedBy.astro";
import Base from "../layouts/base.astro";
import "../styles/main.css";

const { ogImage = "https://www.crocoder.dev/homepage-metadata-img.png" } =
  Astro.props;
---

<Base className="bg-white" ogImage={ogImage}>
  <Navigation />
  <Hero />
  <GetYourPlan />
  <ThankYouCard />
  <MainContent />
  <Section className="!pb-0 lg:!pt-24">
    <TrustedBy />
  </Section>
  <Testimonial classNames="lg:py-24" />
  <Specialization />
  <OurEngineers />

  <BookACallForm
    calLink="team/crocoder/staff-augmentation-intro"
    eventType="staff-augmentation-intro"
  >
    <span slot="title"> Let's Build Together </span>
  </BookACallForm>

  <Footer />
</Base>
