---
import BookACallForm from "../components/BookACallForm.astro";
import GetYourPlan from "../components/staff-agmentation/GetYourPlan.astro";
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";
import Hero from "../components/staff-agmentation/Hero.astro";
import MainContent from "../components/staff-agmentation/MainContent.astro";
import OurEngineers from "../components/staff-agmentation/OurEngineers.astro";
import Specialization from "../components/staff-agmentation/Specialization.astro";
import Base from "../layouts/base.astro";
import "../styles/main.css";
import ThankYouCard from "../components/staff-agmentation/ThankYouCard.astro";

const { ogImage = "https://www.crocoder.dev/homepage-metadata-img.png" } =
  Astro.props;
---

<Base className="bg-white" ogImage={ogImage}>
  <Navigation />
  <Hero />
  <GetYourPlan />
  <ThankYouCard />
  <MainContent />
  <Specialization />
  <OurEngineers />

  <BookACallForm
    calLink="team/crocoder/staff-augmentation-intro"
    eventType="staff-augmentation-intro"
  >
    <span slot="title"> Let's Build Together </span>
  </BookACallForm>

  <Footer />
</Base>

<script is:inline>
  function handleActionHeroClick() {
    window.navScroll = true;
    setTimeout(() => {
      window.navScroll = false;
    }, 1500);
  }

  document
    .querySelectorAll("#book-a-call-action-hero")
    .forEach((element) =>
      element.addEventListener("click", handleActionHeroClick),
    );
</script>
