---
import BookACallForm from "../components/BookACallForm.astro";
import Footer from "../components/footer.astro";
import Navigation from "../components/navigation.astro";
import GetInTouch from "../components/vibe-code-mvp/GetInTouch.astro";
import Hero from "../components/vibe-code-mvp/Hero.astro";
import HowItWorks from "../components/vibe-code-mvp/HowItWorks.astro";
import WhyWorkWithUs from "../components/vibe-code-mvp/WhyWorkWithUs.astro";
import WorkWithUs from "../components/vibe-code-mvp/WorkWithUs.astro";
import WorkWithUsDesktop from "../components/vibe-code-mvp/WorkWithUsDesktop.astro";
import Base from "../layouts/base.astro";
import "../styles/main.css";

const { ogImage = "https://www.crocoder.dev/homepage-metadata-img.png" } =
  Astro.props;
---

<Base className="bg-white !justify-start" ogImage={ogImage}>
  <Navigation />
  <Hero />
  <div class="hidden min-lg:block">
    <WorkWithUsDesktop />
  </div>
  <div class="block min-lg:hidden">
    <WorkWithUs />
  </div>
  <HowItWorks />
  <WhyWorkWithUs />
  <GetInTouch />
  <div class="bg-contrast w-full">
    <BookACallForm>
      <span slot="title">
        Build Your Business <span class="text-crocoder-yellow"> With Us </span>
      </span>
    </BookACallForm>
  </div>
  <Footer />
</Base>
