---
import { Image } from "astro:assets";
import Section from "../../components/Section.astro";
import { grid_classes } from "../../components/_grid";
import classnames from "classnames";
import { getCollection, type CollectionEntry } from "astro:content";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.svg",
);

const collection = await getCollection("staffmaincontent");
const specializationCards = collection.find(
  (collectionEntry: CollectionEntry<"staffmaincontent">) =>
    collectionEntry.id === "specializations.md",
).data.specializations as {
  title: string;
  description: string;
  image: string;
  bgColor: string;
  textColor: string;
}[];
---

<Section className="bg-white/20 !py-12 md:!py-24">
  <div class={`${grid_classes} gap-8 md:gap-16`}>
    <div class="col-span-6 md:col-span-12 text-center px-4">
      <h2
        class="text-[28px] leading-[32px] md:text-[74px] md:leading-[82px] tracking-tight font-medium text-secondary mb-4"
      >
        We Specialize in Building<br />Web Products
      </h2>
      <p
        class="text-sm md:text-base leading-[22px] md:leading-[26px] text-secondary max-w-[704px] mx-auto"
      >
        Our engineers work with modern stacks like React, TypeScript, Node.js,
        Next.js, GraphQL, and more — but we're not dogmatic. We choose the right
        tools for the job.
      </p>
    </div>

    <div
      class="col-span-6 md:col-span-12 grid grid-cols-1 md:grid-cols-2 gap-4"
    >
      <!-- Service Cards -->
      {
        specializationCards.map((card) => (
          <div
            class={classnames(
              "rounded-2xl p-6 md:p-12 text-center",
              card.bgColor,
              card.textColor,
            )}
          >
            <div class="w-[60px] h-[60px] md:w-[90px] md:h-[90px] flex items-center justify-center mx-auto mb-4 md:mb-7">
              <Image
                src={images[card.image]()}
                alt="Code XML icon"
                width={90}
                height={90}
                loading="lazy"
                class="w-full h-full"
              />
            </div>
            <h3 class="text-[20px] leading-[24px] md:text-[36px] md:leading-[40px] font-medium mb-3 md:mb-7">
              {card.title}
            </h3>
            <p class="text-sm md:text-base leading-[20px] md:leading-[26px]">
              {card.description}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</Section>
