---
import config from "../config.json";
import { markdownify } from "../ify";
---

<footer class="bg-theme-dark">
  <div class="text-center">
    <p set:html={markdownify(config.params.copyright)} class="text-white/75" />
  </div>
</footer>
