---
import { markdownify } from "../ify";

const copyright = `
&copy; ${new Date().getFullYear()} CroCoder, Inc. All rights reserved.
`;
---

<footer class="bg-theme-dark">
  <div class="text-center">
    <p set:html={markdownify(copyright)} class="text-white/75" />
  </div>
</footer>
