---
import CalcomEmbedInline from "../components/CalcomEmbedInline.astro";
import { grid_classes } from "./_grid";
import Pill from "./Pill.astro";
import Section from "./Section.astro";
---

<!-- YELLOW-1 = #FEB534 -->
<Section
  idx="book-a-call-section"
  className="bg-secondary !pb-16 md:!pb-24 !pt-0 overflow-visible mt-[220px] xl:mt-[300px]"
  contentClassName={`${grid_classes} items-center`}
>
  <div
    class="col-span-6 md:col-span-8 md:col-start-3 -translate-y-1/2 -mb-20 md:-mb-36 xl:col-span-6 xl:col-start-4 xl:-mb-56"
  >
    <img src="/meeting-croc.png" class="object-cover xl:p-6" />
  </div>
  <div
    class="col-span-6 grid gap-4 md:col-span-12 md:text-center md:justify-items-center text-white xl:col-span-8 xl:col-start-3"
  >
    <Pill>Book your call today</Pill>
    <h1
      class="text-[44px] leading-[48px] tracking-tight font-medium md:text-[74px] md:leading-[82px]"
    >
      <slot name="title" />
    </h1>
    <p class="text-base leading-[26px] pt-3">
      Stop wasting time caught in operational bottlenecks. Schedule your free
      call today, and let’s help you deliver on your strategic vision with
      confidence. Select a date below or <br />
      <a class="bold underline" href="/contact"> contact us here.</a>
    </p>
  </div>

  <div
    class="relative col-span-6 md:col-span-10 md:col-start-2 overflow-hidden flex flex-col justify-center bg-white rounded"
  >
    <div id="book-a-call"></div>
    <CalcomEmbedInline
      calLink="team/crocoder/hello"
      eventType="hello"
      elementOrSelector="#book-a-call"
      hideEventTypeDetails={false}
    />
  </div>
</Section>
