---
import Section from "./Section.astro";
---

<Section className="lg:py-24">
  <h4
    class="text-base text-start md:text-center mx-4 md:mx-7 font-bold uppercase"
  >
    Trusted By:
  </h4>
  <div class="overflow-x-auto whitespace-nowrap px-4 no-scrollbar mt-4">
    <div class="flex gap-7 justify-center min-w-max max-h-10 lg:max-h-[60px]">
      <img
        src="/conductor.svg"
        alt="Conductor logo"
        class="grayscale opacity-50 w-[200px]"
      />
      <img
        src="/lynes.svg"
        width="200"
        alt="Lynes logo"
        class="grayscale opacity-50 w-[200px] md:hidden xl:block"
      />
      <img
        src="/submix.svg"
        width="200"
        alt="Submix logo"
        class="grayscale invert opacity-50 w-[200px]"
      />
      <img
        src="/sevdesk.svg"
        width="200"
        alt="SevDesk logo"
        class="grayscale opacity-50 w-[200px]"
      />
      <img
        src="/misterspex.svg"
        width="200"
        alt="Misterspex logo"
        class="grayscale opacity-50 w-[200px]"
      />
    </div>
  </div>

  <div
    class="text-[#3C3843] md:text-center text-2xl leading-9 md:text-4xl md:leading-[54px] font-medium px-4 md:px-7 xl:px-60 mt-[72px] md:mt-32 lg:mt-[138px]"
  >
    Our tailored software services bridge the gap between the big-picture
    strategy
    <span class="text-[#3C384380]">
      and day-to-day operations, turning ambitious goals into concrete,
      actionable steps that drive results.
    </span>
  </div>
</Section>
