---
import Section from "./Section.astro";
import TrustedBy from "./TrustedBy.astro";
---

<Section className="lg:py-24">
  <TrustedBy />
  <div
    class="text-[#3C3843] md:text-center text-2xl leading-9 md:text-4xl md:leading-[54px] font-medium px-4 md:px-7 xl:px-60 mt-[72px] md:mt-32 lg:mt-[138px]"
  >
    Our tailored software services bridge the gap between the big-picture
    strategy
    <span class="text-[#3C384380]">
      and day-to-day operations, turning ambitious goals into concrete,
      actionable steps that drive results.
    </span>
  </div>
</Section>
