---
import { grid_classes } from './_grid';
import ContactUsForm from './ContactUsForm.astro';
import Section from './Section.astro';
import SectionTitle from './SectionTitle.astro';
import { Image } from 'astro:assets';
import peopleCollaborating from '../assets/people-collaborating.png';
---

<Section
  className='bg-gray-100 pt-[74px]'
  contentClassName={`${grid_classes} items-center py-12`}
>
  <div class='col-span-6 md:col-span-12'>
    <SectionTitle className='text-[#3C3843]'>
      Build Your Business <br class='xl:hidden sm:block hidden' />With Us
    </SectionTitle>
    <p
      class='leading-normal text-base font-normal text-left text-[#3C3843] mt-4'
    >
      Our software development services helped clients big and small build
      solutions with a lasting impact.
    </p>
  </div>
  <ContactUsForm />
  <div class="col-span-6 min-xl:col-span-7 hidden lg:block">
    <Image
      src={peopleCollaborating}
      widths={[540, 720]}
      sizes={"(max-width: 1280px) 540px, 720px"}
      alt='Illustration of people collaborating',
      loading='eager'
    />
  </div>
</Section>
