---
import * as contactUsContent from "../content/contact/contact-us.md";
import { Content } from "../content/contact/contact-us.md";
import { grid_classes } from "./_grid";
import ContactUsForm from "./ContactUsForm.astro";
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
---

<Section
  className="bg-gray-100 pt-[74px] lg:pt-[78px]"
  contentClassName={`${grid_classes} items-center py-12`}
>
  <div class="col-span-6 md:col-span-12">
    <SectionTitle
      set:html={contactUsContent.frontmatter.title}
      className="text-[#3C3843]"
    />
    <p
      class="leading-normal text-base font-normal text-left text-[#3C3843] mt-4"
    >
      <Content />
    </p>
  </div>
  <ContactUsForm />
  <div class="col-span-6 min-xl:col-span-7 hidden lg:block">
    <img
      src={contactUsContent.frontmatter.imgPath}
      sizes={"(max-width: 1280px) 540px, 720px"}
      alt={contactUsContent.frontmatter.imgAlt}
      loading="eager"
      width={540}
    />
  </div>
</Section>
