---
import classnames from "classnames";
import ArrowTopRight from "./icons/ArrowTopRight.astro";

interface Props {
  href: string;
  text: string;
  classNames?: string;
}

const { href, text, classNames } = Astro.props;
---

<div class={classnames("flex gap-2 items-center", classNames)}>
  <a
    class="text-contrast underline underline-offset-2 text-sm sm:text-base"
    href={href}
  >
    {text}
  </a>
  <ArrowTopRight classNames="h-3 w-3 sm:h-4 sm:w-4" stroke="#1E1A1A" />
</div>
