---
import { Image } from "astro:assets";
import crocoderLogo from "../assets/crocoder-logo.png";

const copyright = `
 ${new Date().getFullYear()} CroCoder, Inc. All rights reserved.
`;
---

<footer
  class="w-full
   px-4 sm:px-7
   py-12 lg:py-16
   overflow-hidden
   bg-contrast"
>
  <div class="max-w-[var(--max-width)] mx-auto">
    <div
      class="grid grid-cols-[repeat(3,minmax(min-content,1fr))] grid-rows-[auto_auto_auto_auto] items-center gap-4 lg:grid-cols-[min-content_1fr_min-content]"
    >
      <div class="w-[225px] col-span-2 lg:col-span-1">
        <a class="sm:flex sm:items-center" href="/" aria-label="Crocoder Logo">
          <Image
            src={crocoderLogo}
            alt="Crocoder Crocodile Logo"
            widths={[64, 128]}
            sizes="64px"
            class="h-[48px] w-auto"
          />
          <img
            width={153}
            height={24}
            alt="Crocoder Text Logo"
            src="/images/crocoder-text.svg"
            class="pl-2 hidden h-6 w-auto md:block
              md:[&[data-navhidden='false']]:opacity-0
              md:[&[data-navhidden='']]:opacity-100"
            data-navhidden
          />
        </a>
      </div>
      <div
        class="flex flex-col md:flex-row gap-4 text-left w-fit col-span-3 lg:col-span-1 lg:grow lg:justify-center lg:w-full"
      >
        <a href="/" class="text-white w-fit block whitespace-nowrap">Home</a>
        <a href="/for-ctos" class="text-white w-fit block whitespace-nowrap"
          >For CTOs</a
        >
        <a href="/blog" class="text-white w-fit block whitespace-nowrap">Blog</a
        >
        <a href="/contact" class="text-white w-fit block whitespace-nowrap">
          Contact</a
        >
      </div>
      <div
        class="flex items-center col-span-3 row-start-4 min-[400px]:col-span-1 min-[400px]:col-start-3 min-[400px]:justify-end lg:row-start-1"
      >
        <div class="flex space-x-4">
          <a
            href="https://www.youtube.com/channel/UCWU6cnq4hp4LnunPhP-sAqA"
            aria-label="Go to CroCoder YouTube page"
            class="flex items-center justify-center w-10 h-10 bg-white text-black rounded-full"
            rel="nofollow noopener noreferrer"
          >
            <svg
              stroke="#1E1A1A"
              fill="#1E1A1A"
              stroke-width="0"
              viewBox="0 0 576 512"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
              ></path>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/company/crocoderdev"
            aria-label="Go to CroCoder Linked In page"
            class="flex items-center justify-center w-10 h-10 bg-white text-black rounded-full"
            rel="nofollow noopener noreferrer"
          >
            <svg
              stroke="#1E1A1A"
              fill="#1E1A1A"
              stroke-width="0"
              viewBox="0 0 448 512"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <hr class="border-t border-gray-600 col-span-3" />
      <p class="text-xs text-white col-span-2">
        &copy;{copyright}
      </p>
      <p class="text-xs col-span-3 text-white font-light">
        The content and information provided on this website are intended solely
        for marketing and promotional purposes. This website is a collaborative
        platform representing the interests of both CroCoder, Inc. and Abram
        d.o.o. Please be advised that the materials and information available
        on this site are designed to promote the products, services, and
        initiatives of the aforementioned companies.
      </p>
    </div>
  </div>
</footer>
