---
import Field from "./Field.astro";
import Modal from "./Modal.astro";
import * as formContent from "../content/contact/get-your-plan-form.md";
import Select from "./Select.astro";
---

<Modal id="get-plan-modal">
  <main
    class="bg-neutral-50 p-12 flex flex-col gap-8 w-full max-w-[560px]"
    slot="main"
  >
    <h3
      class="text-center font-medium text-4xl text-secondary max-w-[500px] xl:max-w-[362px] tracking-[-0.7px]"
    >
      What can we <span class="text-crocoder-green">help you</span> with
    </h3>
    <div>
      <Field
        isTextArea={false}
        inputProps={{
          name: "form-company",
          maxlength: "100",
          placeholder: formContent.frontmatter.companyName,
        }}
        labelProps={{
          for: "form-company",
          "aria-hidden": "false",
        }}
        label={formContent.frontmatter.companyName}
      />
      <Select
        selectProps={{
          name: "form-challenge",
          id: "form-challenge",
        }}
        label={formContent.frontmatter.yourMainChallenge}
        labelProps={{
          for: "form-challenge",
          "aria-hidden": false,
        }}
        options={formContent.frontmatter.challanges.map((c: string) => ({
          value: c,
          content: c,
        }))}
      />
      <button
        type="submit"
        id="modal-form-submit-button"
        class="rounded-md
        min-h-14
        px-[25px] w-full py-4
        text-center
        text-secondary
        text-base
        font-medium
        group-invalid/contact-us:pointer-events-none
        group-invalid/contact-us:opacity-30
        group-invalid/contact-us:focus-visible:bg-[#85a32a]
        group-invalid/contact-us:focus-visible:outline-transparent
        group-invalid/contact-us:focus:bg-[#85a32a]
        bg-crocoder-yellow
        hover:bg-crocoder-yellow/90
        focus:bg-crocoder-yellow/90
        focus-visible:bg-crocoder-yellow/90
        focus-visible:outline-1
        focus-visible:outline-neutral-50
        mt-6"
      >
        <span>{formContent.frontmatter.modalSubmit}</span>
        <div id="modal-form-loader" class="loader mx-auto hidden"></div>
      </button>
    </div>
  </main>
</Modal>
