---
import { grid_classes } from "./_grid";
import Section from "./Section.astro";
---

<Section className="!py-0 !px-0">
  <div class={`${grid_classes} bg-[#3C3843] xl:rounded-b-2xl overflow-hidden`}>
    <div
      class="row-start-1
      col-start-1 md:!col-start-2
      col-span-6
      md:col-span-8
      xl:col-span-6 text-white my-auto
      px-7 md:pr-0 py-20 md:py-24 lg:px-0 lg:pt-28 z-10"
    >
      <h1
        class=" font-medium text-3xl sm:text-5xl lg:text-6xl !leading-normal"
      >
        <span class="fadeInUp" style="animation-delay: 100ms;"
          >Building Software</span
        >
        <br />
        <span
          class="fadeInUp"
          style="animation-delay: 500ms;animation-fill-mode: backwards;"
          >That Builds Your Business</span
        >
  </h1>
      <div class="text-lg sm:text-xl lg:text-2xl !leading-normal py-7 font-light">
        <span
          class="fadeInUp"
          style="animation-delay: 900ms;animation-fill-mode: backwards;"
          >Experienced Tech Consultancy Delivering</span
        ><br />
        <span
          class="fadeInUp"
          style="animation-delay: 1100ms;animation-fill-mode: backwards;"
          >Enterprise-Grade Web Development</span
        >
        <br />
      </div>
      <div class="flex flex-col sm:flex-row gap-[10px]">
        <div
          class="bg-[#FEC343] rounded-md px-[25px] py-4 flex-grow lg:flex-grow-0 text-center"
        >
          <a href="#book-a-call-section" class="text-[#1E1A1A] text-base font-medium">
            Book a call
          </a>
        </div>
        <div
          class="bg-white rounded-md px-[25px] py-4 flex-grow lg:flex-grow-0 text-center hidden"
        >
          <a
            href="/"
            class="text-[#1E1A1A] hover:text-gray-700 rounded-md text-base font-medium"
          >
            Contact us
          </a>
        </div>
      </div>
    </div>
    <div
      class="hidden
      md:flex
      row-start-2
      col-start-1
      col-span-6
      self-center
      justify-center
    -mr-12
      md:col-span-4
      md:col-start-9
      md:row-start-1 z-0 "
    >
      <img src="/Hero-2.png" alt="" class="w-[160%] max-w-[200%]" />
    </div>
  </div>
  <div class="flex flex-wrap gap-7 justify-center my-8 lg:my-10 px-4 sm:px-0">
    <img src="/conductor.svg" alt="" class="grayscale opacity-50 w-[200px]" />
    <img src="/lynes.svg" alt="" class="grayscale opacity-50 w-[200px] md:hidden xl:block" />
    <img
      src="/submix.svg"
      alt=""
      class="grayscale invert opacity-50 w-[200px]"
    />
    <img src="/sevdesk.svg" alt="" class="grayscale opacity-50 w-[200px]" />
    <img src="/misterspex.svg" alt="" class="grayscale opacity-50 w-[200px]" />
  </div>
</Section>
