<section class="max-w-[1280px] m-auto md:px-7">
  <div
    class="grid grid-cols-6 gap-x-3 row-span-1 bg-[#3C3843] rounded-b-2xl overflow-hidden md:grid-cols-12 md:gap-x-7"
  >
    <div
      class="row-start-1 col-start-1 col-span-6 px-7 py-24 md:col-span-6 text-white my-auto md:py-[150px] md:col-start-2"
    >
      <div
        class="leading-snug text-[48px] lg:text-[64px] lg:leading-[74px] font-medium"
      >
        Building Software That Builds Your Business
      </div>
      <div class="text-[22px] leading-[32px] py-7">
        Experienced Tech Consultancy Delivering Enterprise-Grade Web Development
      </div>
      <div class="flex flex-row gap-[10px]">
        <div class="bg-[#FEC343] rounded-md px-[25px] py-4">
          <a href="/" class="text-[#1E1A1A] text-sm font-medium">
            Book a call
          </a>
        </div>
        <div class="bg-white rounded-md px-[25px] py-4">
          <a
            href="/"
            class="text-[#1E1A1A] hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium"
          >
            Contact us
          </a>
        </div>
      </div>
    </div>
    <div
      class="row-start-2 col-start-1 col-span-6 flex self-center justify-center overflow-hidden -mr-12 md:col-span-5 md:col-start-8 md:row-start-1"
    >
      <img src="/Hero.jpg" alt="" class="" />
    </div>
  </div>
  <div
    class="grid gap-y-12 grid-cols-6 gap-x-3 md:grid-cols-12 md:gap-x-7 py-24 md:gap-y-24"
  >
    <div
      class="col-start-2 col-span-4 md:col-span-10 flex flex-wrap gap-[30px] justify-center md:col-start-2"
    >
      <img src="/Searchmetrics.svg" alt="" class="w-fit" />
      <img src="/Lynes.svg" alt="" class="w-fit" />
      <img src="/Submix.svg" alt="" class="w-fit" />
      <img src="/SevDesk.svg" alt="" class="w-fit" />
      <img src="/MisterSpex.svg" alt="" class="w-fit" />
    </div>
    <div
      class="row-start-2 col-start-1 col-span-6 px-7 md:col-start-2 md:col-span-8 text-[36px] leading-[54px]"
    >
      Our tailored software services bridge the gap between the big-picture
      strategy and day-to-day operations, turning ambitious goals into concrete,
      actionable steps that drive results.
    </div>
  </div>
</section>

