<header
  class="fixed
    m-auto
    mx:0
    max-w-[100vw]
    top-0
    w-full
    md:mx-2
    md:top-1
    md:w-auto
    md:[&_[data-navhidden]]:duration-700 
    md:[&_[data-navhidden]]:!overflow-hidden
    md:[&_[data-navhidden]]:ease-in-out
    md:[&_[data-navhidden='false']]:w-0 
    md:[&_[data-navhidden='false']]:px-0
    md:[&_[data-navhidden='false']]:mx-0 
    md:[&_[data-navhidden='']]:max-w-48
    z-50"
>
  <nav
    class="bg-[#3C3843E5]
      flex
      items-center
      justify-between
      py-[13px]
      px-2
      sm:px-[15px]
      md:rounded-l-[3rem]
      md:rounded-r-lg
      overflow-hidden"
  >
    <a
      class=" sm:flex sm:items-center"
      href="/"
      aria-label="Crocoder Logo"
    >
      <img
        width={64}
        height={30}
        alt="Crocoder Crocodile Logo"
        src="./images/crocoder-logo.png"
        class="ml-[-2px] h-[48px] w-auto"
      />
      <img
        width={153}
        height={24}
        alt="Crocoder Text Logo"
        src="./images/crocoder-text.svg"
        class="pl-2 hidden h-6 w-auto md:block
          md:[&[data-navhidden='false']]:opacity-0
          md:[&[data-navhidden='']]:opacity-100
        "
        data-navhidden
      />
    </a>
    <ul
      data-navhidden
      class="flex gap-4 mx-2 md:ml-20 md:w-auto relative top-1"
    >
    <li>
      <a
        class="font-medium text-lg text-[#E8E8E8] hover:text-white whitespace-nowrap"
        href="/blog"
      >
        For CTOs
      </a>
    </li>
      <li>
        <a
          class="font-medium text-lg text-[#E8E8E8] hover:text-white"
          href="/blog"
        >
          Blog
        </a>
      </li>
    </ul>
    <ul class="flex gap-4">
      <li>
        <a
          class="flex font-medium h-[45px] items-center px-4 py-2 rounded-md text-base text-center whitespace-nowrap bg-[#545664] text-[#ffffff] hover:opacity-90	ml-4
          md:[&[data-navhidden='false']]:!w-auto
          md:[&[data-navhidden='false']]:!px-4 
          md:[&[data-navhidden='false']]:opacity-0
          md:[&[data-navhidden='']]:opacity-100
          md:[&[data-navhidden='']]:delay-100
          "
          data-navhidden="false"
          href="#book-a-call-section"
        >Book a call</a
        >
        <li class="hidden">
          <a
            class="flex font-medium h-[45px] items-center px-4 py-2 rounded-md text-base text-center whitespace-nowrap bg-[#FEC343] text-[#1E1A1A] hover:opacity-90"
            href="/contact"
          >
            Contact us
          </a>
        </li>
      </li>
    </ul>
  </nav>
</header>
<script is:inline>
  function throttle(func, limit) {
    let lastFunc;
    let lastRan;
    return function () {
      const context = this;
      const args = arguments;
      if (!lastRan) {
        func.apply(context, args);
        lastRan = Date.now();
      } else {
        clearTimeout(lastFunc);
        lastFunc = setTimeout(
          function () {
            if (Date.now() - lastRan >= limit) {
              func.apply(context, args);
              lastRan = Date.now();
            }
          },
          limit - (Date.now() - lastRan),
        );
      }
    };
  }

  let lastScrollTop = 0;
  const allDataHidden = document.querySelectorAll("[data-navhidden]");

  function invertDataAttributte  () {
    allDataHidden.forEach(e => {
        if (e.getAttribute("data-navhidden") === "")
        e.setAttribute("data-navhidden", "false")
      else 
      e.setAttribute("data-navhidden", "")
      })
  }

  function handleScroll() {
    let currentScrollTop = window.scrollY || document.documentElement.scrollTop;
    
    if (
      currentScrollTop > lastScrollTop &&
      allDataHidden[0].getAttribute("data-navhidden") === ''
    ) {
      invertDataAttributte();
    } else if (
      currentScrollTop <= lastScrollTop &&
      allDataHidden[0].getAttribute("data-navhidden") === "false"
    ) {
      
      invertDataAttributte();
    } 

    lastScrollTop = currentScrollTop <= 0 ? 0 : currentScrollTop;
  }

  window.addEventListener("scroll", throttle(handleScroll, 200));
</script>
