---
interface Props {
  idx?: string;
  className?: string;
  contentClassName?: string;
}

const { idx, className, contentClassName } = Astro.props;
---

<section
  id={idx}
  class={`
   w-full
   px-4 sm:px-7 
   py-12  lg:py-16 
   overflow-hidden
   ${className} `}
>
<div class={` max-w-[100vw] md:max-w-[var(--max-width)] m-auto  ${contentClassName}`}>
    <slot />
</div>

</section>
