---
interface Props {
  idx?: string;
  className?: string;
}

const { idx, className } = Astro.props;
---

<h1
  id={idx}
  class={`text-[44px] leading-[48px] lg:text-6xl lg:leading-[84px] font-medium capitalize text-secondary
    ${className} `}
>
  <slot />
</h1>
