---
import { getCollection } from "astro:content";

const testimonialCollections = await getCollection("testimonials");

const testimonials = [];

for (const testimonial of testimonialCollections) {
  const { Content } = await testimonial.render();
  testimonials.push({
    Content,
    name: testimonial.data.name,
    title: testimonial.data.title,
    imageUrl: testimonial.data.imageUrl,
  });
}
---

<section
  class="grid lg:grid-cols-12 grid-cols-6 gap-2 px-[48px] py-[96px] max-w-[1280px] font-poppins"
>
  <h2
    class="col-start-2 col-span-11 font-medium pb-12 text-[74px] leading-[84px] tracking-[-0.02em] capitalize text-[#3C3843]"
  >
    What Our Clients Say
  </h2>
  {
    testimonials.map(({ name, Content, title, imageUrl }) => (
      <div class="bg-[#E8E8E8] rounded-2xl p-7 gap-[28px] col-span-4 sm:max-md:mb-8">
        <p class="leading-7 text-black">
          <Content />
        </p>
        <div class="pt-7 grid grid-cols-5 items-center rounded-lg">
          <div class="col-span-1">
            <div class="bg-gray-300 w-12 h-12 rounded-full" />
          </div>
          <div class="col-span-4">
            <h3 class="text-xl font-bold">{name}</h3>
            <p class="text-xl">{title}</p>
          </div>
        </div>
      </div>
    ))
  }
</section>
