---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import { grid_classes } from "./_grid";
import Pill from "./Pill.astro";

const testimonialCollections = await getCollection("testimonials");

const testimonials = [];

for (const testimonial of testimonialCollections) {
  testimonials.push({
    content: testimonial.rendered,
    name: testimonial.data.name,
    title: testimonial.data.title,
    imageUrl: testimonial.data.imageUrl,
  });
}
---

<Section contentClassName={`${grid_classes} items-baseline gap-y-12`}>
  <div class="col-span-6 md:col-span-10 md:col-start-2">
    <Pill>Testimonials</Pill>
    <SectionTitle className="pt-4">
      What Our <span class="text-crocoder-green">Clients</span> Say
    </SectionTitle>
  </div>
  {
    testimonials.map(({ name, content, title }) => (
      <article class="col-span-6 lg:col-span-4 bg-[#F4F4F4] rounded-2xl p-7 gap-7">
        <p set:html={content?.html} class="leading-7 text-black" />
        <div class="pt-7 rounded-lg">
          <h3 class="text-xl font-bold">{name}</h3>
          <p class="text-xl">{title}</p>
        </div>
      </article>
    ))
  }
</Section>
